@page "/"

<p>Hello, @StringUtilities.CustomToUpper(name)</p>
<p>Let's add 2 + 2 = @(2 + 2)</p>

<button @onclick="@(() => Console.WriteLine("I`ve been clicked!"))">Click Me</button>

<div>
    <h3>Movie</h3>
    @foreach (var movie in movies)
    {
        <p>Title: <b>@movie.Title</b></p>
        <p>Realese Date: <b>@movie.RealeaseDate.ToString("dd/mm/yyyy")</b></p>
    }

</div>

@code {
    string name = "Gabriel Brito";

    List<Movie>? movies;

    protected override void OnInitialized ()
    {
        movies = new List<Movie> ()
        {
            new Movie(){Title = "Spider-Man: Far From Home", RealeaseDate = new DateTime(2019, 7, 2)},
            new Movie(){Title = "Moana", RealeaseDate = new DateTime(20160, 11, 23)},
            new Movie(){Title = "Inception", RealeaseDate = new DateTime(2019, 7, 16)}
        };
    }


}